{
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["../eslintrc"],

  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-undef": "off",
    "standard/no-callback-literal": "off",
    "no-useless-constructor": "off",
    "no-unused-vars": "warn",

    "@typescript-eslint/no-unused-vars": "warn",

    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
