@import '~@/styles/partial/mixins.scss';

.loginForm {
  .submit {
    width: 100%;
    margin-bottom: 8px;
  }

  .remember {
    float: left;
  }

  .forgot {
    float: right;
  }

  .icon {
    color: rgba(0, 0, 0, 0.25);
  }
}
