@import "~@/styles/partial/mixins.scss";

@include b("login-form") {
  @include e("submit") {
    width: 100%;
    margin-bottom: 8px;
  }

  @include e("remember") {
    float: left;
  }

  @include e("forgot") {
    float: right;
  }

  @include e("icon") {
    color: rgba(0, 0, 0, 0.25);
  }
}
