{
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "extends": ["prettier"],
  "parserOptions": {
    "lib": ["dom", "es2018"],
    "ecmaVersion": 11
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-useless-constructor": "off",

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",

    "node/no-callback-literal": "off",

    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
