.pageHeader {
  &:global.ant-layout-header {
    height: 48px;
    line-height: 48px;
  }
  padding-left: 24px;
  .logo {
    img {
      height: 32px;
      vertical-align: top;
      margin-right: 8px;
    }
    line-height: 48px;
    float: left;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
    
    display: flex;
    align-items: center;
  }

  .user {
    float: right;
    color: #fff;
  }

  .logout {
    margin: 0 10px;
    cursor: pointer;
  }

  .email {
    font-style: italic;
  }
}
