@import "../styles/partial/mixins.scss";

@include b("page-container") {
  position: relative;
  @include e("wrapper") {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 16px;
    background: #ffffff;
    padding: 16px;
    min-height: 400px;
    overflow: hidden auto;
  }
}
